version: '3.8'

services:
  api:
    build: .
    container_name: fastapi_atlas_service
    ports:
      - "8000:8000"
    env_file:
      - .env  # This will load MONGO_URI safely
    dns:
      - 8.8.8.8
    volumes:
      - ./app:/code/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload